

:root {
    --primary: rgb(34, 90, 227);
    --primaryLight: rgb(159, 179, 223);
    --secondary: rgb(255, 241, 213);
}

.titleBg {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.hero-image {
    background-image: url('images/NYC.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;         /* full screen height */
    background-attachment: scroll;  /* scrolls up with content (this is default) */
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.11); /* black with 50% opacity */
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.intro{
    color: rgb(239, 57, 121) !important;
}

.hero-image h1,
.hero-image p {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}