# Python virtual environments
venv/
env/
virtual/
lab*/virtual/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jekyll build
_site/
.jekyll-cache/
.jekyll-metadata

# System + IDE
.DS_Store
.idea/
.vscode/

# Logs & temp files
*.log
*.swp
*.tmp
*.bak
