body {
    font-family: sans-serif;
}

.title {
    text-align: center;
    color: red;
}

img {
    display: block;
    width: 100%;
}

.introImg {
    width: 700px;
    margin: 2em auto;
}

.introImgContainer, .main-container {
    width: 700px;
    margin: 2em auto;
}

.main-container {
    padding: 2rem;
    border: 2px solid gray;
    background-color: aliceblue;
}
