h1 {
    background-color: darkblue;
    color: floralwhite;
    font-family: "Arial Black", Gadgets, sans-serif;
    text-align: center;
}

h2.author {
    color: blueviolet;
    text-align: right;
}

.author {
    font-family: cursive;
}

p.fontweight {
    font-weight: bolder;
    font-size: 20px;
}

p.fontstyle {
    font-style: italic;
    font-size: 10px
}

p.author {
    font-size: 120%
}

p#intro {
    text-align: justify;
}

.subtitle {
    border-bottom: dashed 2px blueviolet;
}

.box1, .box2, .box3, .box4 {
    background-color: aqua;
}

.box1 {
    border: orange dotted 5px;
    margin-top: 100px;
    padding-left: 50px
}

.box2 {
    border: olive groove 5px;
    margin: 100px;
    padding: 20px
}

.box3 {
    border: red solid 3px;
    margin: 200px 150px;
    padding: 10px 100px
}

.box4 {
    margin: 30px 100px 200px 50px;
    padding: 50px 20px 70px 100px
}

.shadow1 {
    text-shadow: 10px 0px 2px red;
}

.shadow2 {
    text-shadow: -10px 0px 2px red;
}

.shadow3 {
    text-shadow: 0px 10px 2px red;
}

.shadow4 {
    text-shadow: 0px -10px 2px red;
}

.shadow5 {
    text-shadow: -5px -5px 4px red;
}

.shadow6 {
    text-shadow: -2px 2px 4px red;
}

.shadowbox1, .shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}

.shadowbox1 {
    box-shadow: 0px 5px 3px red;
}

.shadowbox2 {
    box-shadow: 5px 0px 3px red;
}

.shadowbox3 {
    box-shadow: 2px 2px 4px red;
}

.shadowbox4 {
    box-shadow: 2px 2px 4px red inset;
}

.shadowbox5 {
    box-shadow: 0px 0px 5px 10px olive inset;
}

.radiusbox1, .radiusbox2, .radiusbox3, .radiusbox4, .radiusbox5 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    margin: 30px;
    padding: 20px;
}

.radiusbox1 {
    border-radius: 20px;
}

.radiusbox2 {
    border-radius: 100px / 50px;
}

.radiusbox3 {
    border-radius: 30px 10px 50px 20px;
}

.radiusbox4 {
    border-radius: 10px 50px;
}

.radiusbox5 {
    border-radius: 50%;
}

.filter img {
    width: 50%;
    height: auto;
    margin: 50px;
}

.formatting img {
    width: 50%;
    height: auto;
    margin: 50px;
}

figure {
    margin-bottom: 20px;
}

.coffeeshop1 {
    border-radius: 50px;
}

.coffeeshop2 {
    border-radius: 50%;
}

.coffeeshop3 {
    border-radius: 15px;
    border: solid hotpink 5px;
}

.coffeeshop4 {
    box-shadow: 0px 0px 5px 3px gray;
    border-radius: 5px;
}

.blur1 {
    filter: blur(1px);
}

.blur2 {
    filter: blur(5px);
}

.blur3 {
    filter: blur(10px);
}

/* static and liquid layouts */

.maincontainer {
    border: solid 1px gray;
    width: 80%; /* 800px for static  */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.leftcolumn {
    background-color: aliceblue;
    width: 70%; /*500px for static */
    height: 400px;
}

.section, .article {
    border: solid 1px darkblue;
    height: 200px;
}

.rightcolumn {
    width: 29.8%; /*298px for static*/
    height: 400px;
    border: solid 1px red;
}

.image {
    width: 100%; /*800px for static*/
    border: solid 1px green;
}

/*
cards
*/

.cardcontainer {
    width: 800px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 40%;
    border-radius: 10px;
    border: solid 2px lightgray;
    overflow: hidden;
    background-color: white;
}

.card img {
    width: 100%;
    height: auto;
}

.linkcard {
    text-align: center;
    display: block;
    color: darkblue;
    text-decoration: none;
    padding: 1em;
}

.card:hover {
    box-shadow: 0px 0px 3px 1px gray;
    border: solid 1px crimson;

}

.card:hover .linkcard {
    background-color: crimson;
    color: darkblue !important;
}

.card2 {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin: 5% 1%;
    box-shadow: 1px 1px 3px gray;
}

.card2 img {
    width: 100%;
    height: auto;
    display: block;
}

.cardtitle {
    text-align: center;
    color: crimson;
}

.linkcard2 {
    background-color: darkblue;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card2:hover {
    box-shadow: 0px 0px 3px 1px gray;
    border: dashed 2px gray;
}

.card2:hover .linkcard2 {
    background-color: crimson;
    text-decoration: underline;
}

.cardinfo {
    padding: 1rem;
}

.card:hover .linkcard {
    color: crimson;
}

/* naving */

.navbar {
    width: 300px;
}

.navbar li {
    list-style-type: none;

}

.navbar li a {
    background-color: purple;
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: lightcyan;
    color: darkcyan;
    text-decoration: underline;
    font-weight: 900;
    border: 1px solid purple;
}

/*  */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box
}

.navbarhorizontal {
    background-color: orangered;
}

.navbarhorizontal a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    width: 24.5%;
}

.navbarhorizontal a:hover {
    font-weight: bolder;
    background-color: black;
    text-decoration: underline;
    justify-content: space-around;
    width: 500px;
    padding: 20px;
}

/* colors */
.rgbcontainer, .hexcontainer {
    border: solid 1px gray;
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding: 20px;
}

.rgbcontainer div, .hexcontainer div {
    border: solid 1px green;
    width: 100px;
    height: 20px;
}

.rgbcontainer div:nth-child(1) {
    background-color: rgb(26, 182, 203);
}

.rgbcontainer div:nth-child(2) {
    background-color: rgb(16, 25, 187);
}

.rgbcontainer div:nth-child(3) {
    background-color: rgb(121, 12, 12);
}

.hexcontainer div:nth-child(1) {
    background-color: #83cc51
}

.hexcontainer div:nth-child(2) {
    background-color: #b02727;
}

.hexcontainer div:nth-child(3) {
    background-color: #47b986;
}

/*position */

.imgcontainer {
    width: 50%;
    box-shadow: 2px 2px 5px #dc5151;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 20px;
    left: 100px;
}

.imgtitle {
    background-color: rgba(218, 19, 66, 0.5);
    position: absolute;
    bottom: 90px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;

}

img {
    display: block;
}

.fixedtabs {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
}

.fixedtabs a {
    text-align: center;
}

/* Background image */

.imgbackground, .imgbackground2 {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.imgbackground div, .imgbackground2 div {
    width: 30%;
    height: 100px;
    border: solid 1px gray;
}

.imgbackground div:nth-child(1) {
    background-image: linear-gradient(red, blue);
}

.imgbackground div:nth-child(2) {
    background-image: linear-gradient(to right, red, blue);
}

.imgbackground div:nth-child(3) {
    background-image: linear-gradient(to top left, red, blue);
}

.imgbackground2 div:nth-child(1) {
    background-image: linear-gradient(to top right, red, darkblue, yellow);
}

.imgbackground2 div:nth-child(2) {
    background-image: linear-gradient(red, darkblue, yellow, purple);
}
.imgbackground2 div:nth-child(3) {
    background-image: linear-gradient(red 20%, darkblue 60%, yellow 30%, purple 80%);
}

/* hero image*/

.heroimgcontainer{
    width: 800px;
    margin: auto;
    height: 500px;
    border: solid 1px gray;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.5), rgba(0, 0, 139, 0.35)), url("images/Metropolitan.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.herocontent {
    text-align: center;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    padding: 20px;
    font-size: 1.5em;

}

.herocontent_title {
    color: rgba(200, 200, 200, 0.9);
}

.hereocontent_intro {
    margin-top: -30px;
    font-size: 0.8em;
    font-style: italic;
}

.herocontent_link {
    background-color: rgba(0, 0, 140, 0.8);
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.herocontent_link:hover {
    background-color: rgba(220, 200, 200, 0.9);
    color: crimson;
    font-weight: bolder;
}


