h1 {
    background-color: darkblue;
    color: floralwhite;
    font-family: "Arial Black", Gadgets, sans-serif;
    text-align: center;
}

h2.author {
    color: blueviolet;
    text-align: right;
}

.author {
    font-family: cursive;
}

p.fontweight {
    font-weight: bolder;
    font-size: 20px;
}

p.fontstyle {
    font-style: italic;
    font-size: 10px
}

p.author {
    font-size: 120%
}

p#intro {
    text-align: justify;
}

.subtitle {
    border-bottom: dashed 2px blueviolet;
}

.box1, .box2, .box3, .box4 {
    background-color: aqua;
}

.box1 {
    border: orange dotted 5px;
    margin-top: 100px;
    padding-left: 50px
}

.box2 {
    border: olive groove 5px;
    margin: 100px;
    padding: 20px
}

.box3 {
    border: red solid 3px;
    margin: 200px 150px;
    padding: 10px 100px
}

.box4 {
    margin: 30px 100px 200px 50px;
    padding: 50px 20px 70px 100px
}

.shadow1 {
    text-shadow: 10px 0px 2px red;
}

.shadow2 {
    text-shadow: -10px 0px 2px red;
}

.shadow3 {
    text-shadow: 0px 10px 2px red;
}

.shadow4 {
    text-shadow: 0px -10px 2px red;
}

.shadow5 {
    text-shadow: -5px -5px 4px red;
}

.shadow6 {
    text-shadow: -2px 2px 4px red;
}

.shadowbox1, .shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}

.shadowbox1 {
    box-shadow: 0px 5px 3px red;
}

.shadowbox2 {
    box-shadow: 5px 0px 3px red;
}

.shadowbox3 {
    box-shadow: 2px 2px 4px red;
}

.shadowbox4 {
    box-shadow: 2px 2px 4px red inset;
}

.shadowbox5 {
    box-shadow: 0px 0px 5px 10px olive inset;
}

.radiusbox1, .radiusbox2, .radiusbox3, .radiusbox4, .radiusbox5 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    margin: 30px;
    padding: 20px;
}

.radiusbox1 {
    border-radius: 20px;
}

.radiusbox2 {
    border-radius: 100px / 50px;
}

.radiusbox3 {
    border-radius: 30px 10px 50px 20px;
}

.radiusbox4 {
    border-radius: 10px 50px;
}

.radiusbox5 {
    border-radius: 50%;
}

img {
    width: 50%;
    height: auto;
    margin: 50px;
}

figure {
    margin-bottom: 20px;
}

.coffeeshop1 {
    border-radius: 50px;
}

.coffeeshop2 {
    border-radius: 50%;
}

.coffeeshop3 {
    border-radius: 15px;
    border: solid hotpink 5px;
}

.coffeeshop4 {
    box-shadow: 0px 0px 5px 3px gray;
    border-radius: 5px;
}

.blur1 {
    filter: blur(1px);
}

.blur2 {
    filter: blur(5px);
}

.blur3 {
    filter: blur(10px);
}

.cardcontainer{
    width: 800px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 40%;
    border-radius: 10px;
    border: solid 2px lightgray;
    overflow: hidden;
    background-color: white;

}

.card2 {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin: 2%;
    box-shadow: 1px 1px 3px gray;
}

.cardtitle {
    text-align: center;
    color:crimson;
}

.linkcard2{
    background-color: darkblue;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card2:hover {
    box-shadow: 0px 0px 3px 1px gray;
    border: dashed 2px gray;
}

.card2:hover .linkcard2{
    background-color: crimson;
    text-decoration: underline;
}

.cardinfo{
    padding: 1rem;
}

.card:hover .linkcard{
    color:crimson;
}
