*{box-sizing:border-box;}
html{scroll-behavior: smooth;}
.square_circle{
    width: 100px;
    height: 100px;
    background-color: purple;
}

.square_circle:hover{
    border-radius: 50%;
    background-color: aqua;
    transition: ease-in-out 800ms;
}

img {
    width: 100%;
    display: block;
}

.zoomcontainer {
    width: 500px;
    position: relative;
}

.slidecontainer, .cardslide{
    width: 500px;
    position: relative;
}



.zoomcontent, .slidecontent{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(50,50,50,0.7);
    text-align: center;
    padding-top: 30%;
    color: white;
    font-size: 3em;
    transform: scale(0);
    transition: ease-in-out 1s;
}

.zoomcontainer:hover .zoomcontent {
    transform:scale(1);
}

.slidecontent{
    transform: translateX(500px);
}

.slidecontainer{
    overflow: hidden;
}

.slidecontainer:hover .slidecontent{
    transform: translateX(0px);
}

.card, .cardslide{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 500ms;
    margin-top: 20px;
}

.card:hover{
    transform: scale(0.9);
    box-shadow: none;
}

.cardslide:hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0px 5px 5px black;
}

